.cards {
  display: flex;
  justify-content: center;
}
.cards__content {
  display: flex;
  column-gap: 17px;
  width: 880px;
  flex-direction: row;
  padding: 0;
  flex-wrap: wrap;
  row-gap: 21px;
  margin: 0;
}

.cards__item {
  display: flex;
  flex-direction: column;
  width: 282px;
}

.cards__image {
  justify-self: center;
  height: 282px;
  width: 282px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.cards__image-info {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 31px;
  padding-left: 21px;
  padding-right: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  align-items: center;
}

.cards__image-text {
  font-family: "Inter-black";
  font-size: 24px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards__hearth-button {
  padding-right: 15px;
  background-image: url(../images/like.svg);
  width: 21px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 19px;
  margin-left: 3px;
}
.cards__hearth-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.cards__hearth-button_active {
  opacity: 1;
  background-image: url(../images/like_activo.svg);
}

.cards__trash-button {
  background-color: transparent;
  border: none;
  position: absolute;
  margin-top: 15px;
  width: 18px;
  align-self: flex-end;
  margin-right: 15px;
}

.cards__trash-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media (max-width: 930px) {
  .cards__content {
    width: 590px;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    row-gap: 21px;
    margin: 0;
  }
}

@media (max-width: 630px) {
  .cards {
    align-items: center;
    flex-direction: column;
  }

  .cards__content {
    width: 283px;
  }
}
